.card-kursus{
    border-radius: 11px;
    background: var(--v1-white, #FFF);
    width: 100%;
    .wrapp-img{
        position: relative;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        img{
            &.cover{
                width: 100%;
                object-fit: cover;
                height: 238px;
            }
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
        }

        .ulasan-rate{
            position: absolute;
            left: 0;
            top: 20px;
            border-radius: 0px 8px 8px 0px;
            background: #1953A2;
            padding: 9px 12px;

            color: #FFF;
            font-size: 16.253px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            display: flex;
            gap: 5px;
            align-items: center;
        }

        .label-pengerjaan{
            position: absolute;
            left: 0;
            top: 20px;
            border-radius: 0px 8px 8px 0px;
            background: #26B07D;
            padding: 9px 12px;

            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            display: flex;
            gap: 5px;
            align-items: center;
        }

        .wrapp-price{
            position: absolute;
            bottom: 0;
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background: rgba(0, 0, 0, 0.50);

            img{
                width: 26px;
                height: 26px;
                border-radius: 13px;
            }

            p{
                margin-bottom: 0;
                &.name{
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                &.idr{
                    color: var(--v1-white, #FFF);
                    text-align: right;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }

    .wrapp-bottom{
        display: flex;
        padding: 17px 15px 23px 15px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        p{
            margin-bottom: 0;
            &.judul{
                color: var(--v1-black, #181B32);
                font-size: 21.67px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%; /* 30.338px */
            }

            &.desc{
                color: #626262;
                font-size: 11.2px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &.bab{
                color: var(--Green, #26B07D);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        .badge-sektor{
            display: flex;
            padding: 6px 12px;
            align-items: center;
            gap: 14px;
            height: 26px;
            width: fit-content;

            border-radius: 999999px;
            background: var(--Green, #26B07D);

            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}