.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

    width: 100%;
    height: 120px;
    background: transparent;
    &-inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 75px;
            height: 74px;
            flex-shrink: 0;
            aspect-ratio: 75/74;
        }

        .wrapp-menu{
            display: flex;
            gap: 13.779px;
            .link{
                display: flex;
                padding: 6.36px 10.6px;
                justify-content: center;
                align-items: center;
                gap: 10.6px;

                color: #EDEDED;
                font-size: 14.839px;
                font-style: normal;
                font-weight: 500;
                line-height: 25.439px; /* 171.429% */
            }
        }
    }

    &.wt-bg,
    &.scrolled{
        background: #FFF;
        .link{
            color: #004098 !important;
        }
    }
}